<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupNum Timetable</title>
    
    <!-- Lien vers le favicon -->
    {% load static %}
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>navbar</nav>

    <!-- Main Content Area -->
    <div class="mainContainer">
        <div id="sidebar">sidebar</div>

        <!-- Content Area -->
        <div id="content">
            content
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>