{% extends 'base.html' %}

{% block content %}
    <h1>{{ message }}</h1>
    
    {% if emploi_du_temps %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Horaire</th>
                    <th>Lundi</th>
                    <th>Mardi</th>
                    <th>Mercredi</th>
                    <th>Jeudi</th>
                    <th>Vendredi</th>
                </tr>
            </thead>
            <tbody>
                {% for horaire, cours in emploi_du_temps.Lundi %}
                    <tr>
                        <td>{{ horaire }}</td>
                        <td>{{ cours }}</td>
                        <td>{{ emploi_du_temps.Mardi|get_item:horaire }}</td>
                        <td>{{ emploi_du_temps.Mercredi|get_item:horaire }}</td>
                        <td>{{ emploi_du_temps.Jeudi|get_item:horaire }}</td>
                        <td>{{ emploi_du_temps.Vendredi|get_item:horaire }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune donnée d'emploi du temps disponible.</p>
    {% endif %}
{% endblock %}