{% extends 'base.html' %}

{% block content %}
<h2>Liste des Matières</h2>
<a href="{% url 'creer_matiere' %}">Créer une Nouvelle Matière</a>
<ul>
    {% for matiere in matieres %}
    <li>
        {{ matiere.code }} - {{ matiere.nom }} ({{ matiere.credits }} crédits, Semestre {{ matiere.semestre }}, Filière {{ matiere.filiere.nom }})
        <a href="{% url 'modifier_matiere' matiere.pk %}">Modifier</a>
        <a href="{% url 'supprimer_matiere' matiere.pk %}">Supprimer</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}