<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Enregistrement</title>
</head>
<body>
    <h2>Enregistrement</h2>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" required placeholder="Nom d'utilisateur" />
        <input type="password" name="password" required placeholder="Mot de passe" />
        <input type="password" name="password2" required placeholder="Confirmer le mot de passe" />
        
        <select name="category" required>
            <option value="admin">Admin</option>
            <option value="enseignant">Enseignant</option>
            <option value="etudiant">Étudiant</option>
        </select>
    
        <button type="submit">S'inscrire</button>
    </form>
    <p>Déjà un compte ? <a href="{% url 'login' %}">Se connecter</a></p>
</body>
</html>